
.heading {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: #013265;
}

.welcome {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}
.label{
    display: flex;
    justify-content: center;
    font-family: 'Libre Baskerville', serif !important;
    color: blue;
}

.labels {

    
    font-family: 'Libre Baskerville', serif!important;
    color: blue;
    display: inline-block;
        justify-content: center;
}
.forms{
    position: relative;
        
    align-items: center;
    margin-left:auto ;
    margin-right: auto;
    margin-top: 20px;
    width: 350px;
    padding: 25px;
}
.table{
    
    text-align: center;
    
}
h1{
    text-align: center;
}
.pages-change{
    display: flex;
        justify-content: center;
}
span{
    color: #fff!important;
}
li :hover{
    font-weight: bold;
}